<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mercado Liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!--Este link es para que los estilos se vean en diferentes navegadores-->
        <link rel="stylesheet" href="css/normalize.css">
        <!--Este link conecta con la hoja de estilos-->
        <link rel="stylesheet" href="css/style.css">
        <!--Estos links conectan con la tipografia Roboto-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!--Este link conecta con los iconos de la pagina-->
        <script src="https://kit.fontawesome.com/3f4ccc7b29.js" crossorigin="anonymous"></script>
        <!--Configurar el viewport-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <header class="encabezado">
            <div class="contenedor-logo-busqueda-cuotas">
                <div class="contenedor-logo">      
                        <a  href="http://localhost:3000/"><img src="img/logo-mercado-liebre.svg" class="logo"></a>
                </div>  

                <div class="contenedor-busqueda">
                    <form action="" class="form-busqueda">
                        <input type="text" name="bar-busqueda" class="bar-busqueda" id="bar-busqueda" placeholder="Buscar productos">
                        <button type="submit" class="boton-buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>

                <div class="contenedor-texto-cuotas">
                        <h2 class="texto-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
                </div>
            </div>
                
            <nav class="navbar-padre">
                <ul class="left-navbar">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </nav>

            <div class="burger-menu-wrapper">
                <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            </div>
        </header>

        <main>
            <section class="contenedor-formulario-login">
                <form action="/login" method="post">
                    <article class="formulario-articulo-login">
                        <label class="titulo-formulario">Ingresa a tu cuenta</label>
                    </article>

                    <article class="formulario-articulo-login">
                        <input type="text" placeholder="Nombre de usuari@" minlength="8" name="login-usuario" class="input-texto-login" required>
                    </article>

                    <article class="formulario-articulo-login">
                        <input type="password" placeholder="Contraseña" minlength="8" name="login-contrasenia" class="input-texto-login" required>
                    </article>

                    <article class="formulario-articulo-login">
                        <button type="submit" class="boton-enviar">Enviar</button>
                    </article>
                </form>
            </section>
        </main>

        <footer>
            <section class="contenedor-footer">
                <section>
                    <i class="fa-solid fa-credit-card"></i>
                    <article>
                        <strong>Pagá con tarjeta o en efectivo</strong><br>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </article>
                </section>

                <section>
                    <i class="fa-solid fa-gift"></i>
                    <article>
                        <strong>Envío gratis desde $ 2.500</strong><br>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </article>
                </section>

                <section>
                    <i class="fa-solid fa-user-shield"></i>
                    <article>
                        <strong>Seguridad, de principio a fin</strong><br>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </article>
                </section>
            </section>
            

            <section>
                <author>Copyright © 1999-2020 MercadoLiebre S.R.L.</author>
            </section>
            
        </footer>
    </body>
</html>